.row
  .span8
    = form_tag sessions_path, class: 'form-horizontal' do
      %legend log in
      .control-group
        = label_tag :email, 'email', class: 'control-label'
        .controls
          = text_field_tag :email, nil, placeholder: 'email'
      .control-group
        = label_tag :password, 'password', class: 'control-label'
        .controls
          = password_field_tag :password, nil, placeholder: 'password'
      .control-group
        .controls
          = button_tag 'log in', class: 'btn'
  .span4
    %legend sign up
    = link_to 'sign up', sign_up_path
