%header
  %h2 your series
- @user.series.each_with_index do |s, i|
  %section.viewing
    %h3= s.name
    %p= s.overview
    %section.last_viewing
      %h4 Last Viewed Episode
      - if s.viewed? @user.id
      - last_viewing = @user.last_viewing(s.id)
        %p= last_viewing.episode.name
        %p= last_viewing.episode.overview
      - else
        %p No previously watched episodes
    %section.next_viewing
      %h4 Next Episode
      - if next_viewing = @user.next_viewing(s.id)
        %p= next_viewing.episode.name
        %p= next_viewing.episode.overview
      - else
        %p No upcoming episodes
