%header
  %h2 your series
- @progressions.each do |progression|
  %section#progression
    = link_to progression.series_name, progression.series
    %p= progression.series_overview
    %section#last_viewing
      %h4 Last Viewed Episode
      - if progression.last_viewing
        %p= progression.last_viewing_episode_name
        %p= progression.last_viewing_episode_overview
      - else
        %p No previously watched episodes
    %section#next_viewing
      %h4 Next Episode
      - if progression.next_viewing
        %p= progression.next_viewing_episode_name
        %p= progression.next_viewing_episode_overview
        = form_for progression.next_viewing do |f|
          = f.submit 'Watch'
      - else
        %p No upcoming episodes
