%header
  %h2 series
- @series.each do |s|
  %section
    %h3= s.name
    %p= s.overview
    = form_tag(viewings_path) do
      = hidden_field_tag 'series_id', s.id
      = submit_tag 'add to viewing list'
