%header
  %h2 your series
- @user.series.each_with_index do |s, i|
  %section
    %h3= s.name
    %h4 Overview:
    %p= s.overview
    - if s.viewed? @user.id
      - last_viewing = @user.last_viewing(s.id)
      %section
        %h4 Last Viewed Episode
        %p= last_viewing.episode.name
        %p= last_viewing.episode.overview
    - if next_viewing = @user.next_viewing(s.id)
      %section
        %h4 Next Episode
        %p= next_viewing.episode.name
        %p= next_viewing.episode.overview
