%header.page-header
  %h1 series
- @series.each do |s|
  %section.well
    %h2= s.name
    %p= s.overview
    - if current_user && !Viewing.viewings_exit(user_id: current_user.id, series_id: s.id)
      = form_tag(viewings_path) do
        = hidden_field_tag 'series_id', s.id
        = submit_tag 'Add to viewing list', class: 'btn'
