!!! 5
<!--[%f lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]--
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => "en" }
  <!--<![endif]-->
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }

    %title where were we
    %meta{ :name => "description", :content => "Keep track of how much of a series you've watched" }
    %meta{ :name => "author", :content => "Mark Scholtz" }

    %meta{ :name => "viewport", :content => "width=device-width" }

    = stylesheet_link_tag :all

    = javascript_include_tag "lib/modernizr-2.5.3-respond-1.1.0.min.js"

    = csrf_meta_tag
  %body
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    #header-container
      %header.wrapper.clearfix
        %h1#title where were we
        %nav
          %ul
            %li
              %a{ :href => "#" } search
            %li
              %a{ :href => "#" } watch

    #main-container
      #main.wrapper.clearfix

        = yield

        %aside
          %h3 aside
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.

    .footer-container
      %footer.wrapper
        %h3 footer

    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" }
    :javascript
      window.jQuery || document.write('#{escape_javascript(javascript_include_tag "lib/jquery-1.7.2.min.js")}')

    = javascript_include_tag :defaults
    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
